.container {
  display: flex;
  flex-direction: column;
  height: 700px;
  align-self: flex-start;
  justify-content: center;
  text-align: start;
  width: 500px;
  gap: 10px;
}

.terms {
  display: flex;
  justify-content: center;
  align-items: center;
}

.terms-box {
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.terms-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}